// Declaración del tipo de documento HTML
doctype html

// Elemento raíz
html
  head
    // Título de la página dinámico
    title= title
    // Hoja de estilos para objetos de cielo profundo
    link(rel="stylesheet", href="/css/deepSky.css")
  
  body
    // Botón para regresar al inicio
    a(href="/" class="back-button") Regresar al inicio

    // Contenedor principal
    .deep-sky-container
      // Título principal dinámico
      h1= title

      // Itera sobre cada objeto de cielo profundo
      each object in objects
        .deep-sky-card
          // Nombre del objeto
          h2= object.Name
          ul
            li
              strong Tipo:
              // Valor o texto por defecto
              |  #{object.Type || 'No disponible'}
            li
              strong Constelación:
              |  #{object.Const || 'No disponible'}
            li
              strong Ascensión Recta (RA):
              |  #{object.RA || 'No disponible'}
            li
              strong Declinación (Dec):
              |  #{object.Dec || 'No disponible'}
            li
              strong Magnitud B:
              |  #{object['B-Mag'] || 'No disponible'}
            li
              strong Identificadores:
              |  #{object.Identifiers || 'No disponible'}
