// Declaración del tipo de documento HTML
doctype html

// Elemento raíz
html
  head
    // Título de la página
    title Catálogo de Estrellas
    // Hoja de estilos para la página de estrellas
    link(rel="stylesheet", href="/css/stars.css")
  
  body
    // Encabezado principal
    h1 Catálogo de Estrellas

    // Botón para volver a inicio
    a.button.back-button(href='/') Volver a Inicio

    // Si hay estrellas en el arreglo
    if estrellas.length
      // Tabla de datos
      table(border="1")
        thead
          tr
            th ID
            th Nombre
            th Tipo Espectral
            th RA
            th DEC
            th Magnitud
            th Distancia
            th Constelación
            th Datos Históricos
            th Mitología
        tbody
          // Itera sobre cada estrella
          each estrella in estrellas
            tr
              td= estrella.source_id
              td= estrella.nombre
              td= estrella.tipo_espectral
              td= estrella.ra
              td= estrella.dec
              td= estrella.phot_g_mean_mag
              td= estrella.distancia
              td= estrella.constelacion
              td= estrella.datos_historicos
              td= estrella.mitologia
    else
      // Mensaje si no hay datos
      p No se encontraron datos de estrellas.

    // Botón para volver a inicio al final de la página
    a.button.back-button(href='/') Volver a Inicio
